 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* ///////////////////////// Pages ///////////////////////////////////// */

 /* Sidebar Component */
 .active {
    background-color: #F3F5F8;
 }

 .logo-image-div{
   background-color: #A162F7
 }

 .canvas-body-div{
   height: 93vh
 }


 /* Booking component */
 .dashboard-icon-div {
    box-shadow: 0px 4px 8px 0px #3535351A
 }

 .dashboard-icon {
    height: 21px;
    width: 21px
 }

 .listing-icon {
    height: 25px;
    width: 25px
 }

 .icon-to-hover-inactive {
    background-color: #FFFFFF;
    color: black;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer
 }

 .icon-to-hover-active {
    background-color: #A162F7;
    color: #FFFFFF;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer
 }

 .icon-to-hover-active:hover,
 .icon-to-hover-inactive:hover {
    background-color: #A162F7;
    color: #FFFFFF;
 }

 .chartlist {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 .chartlist li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
 }

 /* ErrorPage */
 .error-div {
    height: 90%;
 }

 .error-div div{
   height: 83vh
 }

 .err-msg {
    font-size: 300px;
    text-align: center;
    color: rgb(220, 53, 69);
    margin-top: -20px
 }

 /* Home */
 .right-side-home {
    background-color: #F5F5F5
 }


 /* ////////////////////////////// Components ////////////////////////// */

 /* Card */
 .card-parent-div {
    background-color: #FFFFFF
 }

 .red-heart {
    color: #F84F56
 }

 .card-div-img {
    width: 100%
 }

 .card-div-img img {
    max-height: 83.25px;
    height: 100%;
    max-width: 100%;
 }

 user-icon {
    color: #A162F7
 }


 /* circularBar */
 .circular-bar {
    background-color: #FFFFFF
 }

 .circular-bar:hover {
    background-color: #A162F7;
    color: #FFFFFF;
 }

 #offcanvasResponsive ul {
    list-style-type: none;
 }

 /* * {
   border:rgb(0, 0, 0) 1px solid
 } */
 @media only screen and (min-width: 768px) {
   .left-side-home {
      position: sticky;
      top: 0;
      height: 100vh;
   }
 } 

 .offcanvas-body {
   padding-top: 0px;
 }


 /* GraphCard */
.graph-card-div{
   background-color:#FFFFFF
}

 .graph-card-heading-div{
   height: 50vh
 }

 /* ListCard */
 .list-card-div{
   background-color: #FFFFFF
 }

 .left-list-card-div{
   width: 95%
 }

 .list-card-image-div{
   max-width:295px
 }

 .list-card-image-div img{
   max-height: 100%;
   width: 100%
 }

 /* Navbar */
 .navbar-div{
   background-color: #FFFFFF;
   position: sticky;
   top: 0
 }

 .search-bar-container{
   background-color: #F5F4F6
 }

 .notification-bell-div{
   position: relative
 }

 .bell-icon{
   width: 50px
 }

 .notification-bell-div span{
   height: 0.4em;
    width: 0.4em;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 18px
 }

 /* ProgressChart */
 .progress-chart-div{
   background-color: #F5F5F5
 }
 .progress-chart-icon-div{
   border-radius: 50%;
    width: 24px;
    height: 24px;
 }


 /* RecommendedCar */
 .recommended-car-div{
   height:236px
 }

 .recommended-car-image-div{
   max-height:110px
 }

 .recommended-car-image-div img{
   max-width:100%;
   height:100%
 }

 /* XYGraph */
 .xy-graph-div{
   width: 100%;
   height: 100%
 }

 /* XYSmoothGraph */
 .xy-smooth-graph-div{
   width: 100%;
   height: 100%
 }